<div class="container-sm mt-4">
    <h1 class="text-light text-center">Chat de productos</h1>

    <div class="input-group mt-5">
        <span class="input-group-text">Ingresa tu Mensaje</span>
        <textarea class="form-control" aria-label="With textarea" id="mensaje"></textarea>
    </div>
    <div id="contenedor"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>