<div class="container-sm bg-danger">
    <h1 class="text-center mt-4">Error de Login!</h1>
    <p class="text-center">Algo salio mal! vuelve a ingresar tu usuario y contraseña</p>
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary mb-3" onclick="location.href = '/api/sessions/login'">Volver a login</button>
    </div>   
</div>