<div class="container-sm bg-success">
    <h1 class="text-center mt-4">Bienvenido! {{ user }}</h1>
    <p class="text-center"></p>
    <div class="d-flex justify-content-center">
      <button class="btn btn-danger mb-3" onclick="location.href = '/api/sessions/logout'">LogOut</button>
    </div>   
</div>