<div class="container row ">
  <form class="formulario">
    <h2 class="text-light">Ingrese Producto:</h2>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label text-light">Title:</label>
      <input type="text" class="form-control" id="title" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label text-light">Description:</label>
      <input type="text" class="form-control" id="description">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label text-light">Code:</label>
      <input type="text" class="form-control" id="code">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label text-light">Price:</label>
      <input type="text" class="form-control" id="price">
    </div><div class="mb-3">
      <label for="exampleInputPassword1" class="form-label text-light">Stock:</label>
      <input type="text" class="form-control" id="stock">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label text-light">Category:</label>
      <input type="text" class="form-control" id="category">
    </div>
    <button type="submit" class="btn btn-success" id="btnAgregar">Agregar</button>
  </form>

  <form class="formulario">
    <h2 class="text-light">Eliminar Producto:</h2>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label text-light">id:</label>
      <input type="text" class="form-control" id="title" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-danger" id="btnEliminar">Eliminar</button>
  </form>
  
  
</div>

<div id="productos">
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>
