<div class="container-sm bg-danger">
    <h1 class="text-center mt-4">Error al registrarse!</h1>
    <p class="text-center">Algo salio mal! vuelve a registrarte</p>
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary mb-3" onclick="location.href = '/api/sessions/register'">Volver a register</button>
    </div>   
</div>